 body{
    background-color: yellowgreen;;
} 
.heading{
    color:red;
    font-size:25px;
    text-align:center;
    text-decoration: underline;
    border: 1px dotted black;
    font-style: italic;
}